
/*
@font-face {
  font-family : bodyFont;
  src : url("fonts/DK_Crayon_Crumble.ttf") format('truetype');
}*/

@import url('https://fonts.googleapis.com/css?family=Amaranth');

@font-face {
  font-family : titleFont;
  src : url("fonts/Strange_Tales.ttf") format('truetype');
}

.popup-wrapper {
  /*background-color: #fff;*/
  background-color : rgba(255,255,255,0.8);
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 8px #aaa;
  overflow: hidden;
  display: none;
}

.popup-title {
  padding: 10px 15px;
  font-family: 'titleFont';
  font-size : 30px;
}

/*.popup-title h3 {
  margin: 0;
  line-height: 1.5em;
  color: #333;
}*/

.popup-body {
  padding: 10px 15px;
  color: #555;
  vertical-align: middle;
  font-family : 'Amaranth', sans-serif;
  font-size : 20px;
}

.popup-close {
  float: right;
  margin-top: 2px;
  padding: 0;
  font-size: 24px;
  line-height: 1;
  border: 0;
  background: transparent;
  color: #aaa;
  cursor: pointer;
}

.popup-close:hover { color: #333; }

#weatherDetail {
  display : none;
  cursor : pointer;
  padding-top : 45px;
}

#weatherSummary {
  padding-top : 20px;
  display : block;
}

#popup {
  text-align: center;
}

#loadingImg {
  width : 150px;
  height : 150px;
  padding-top : 36px;
}

#nowhereImg {
  width : 150px;
  height : 150px;
}

#weatherIcon {
  padding-bottom : 20px;
}